* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body{
    height: 100vh;
}

.header, .content, .footer {
    background: peachpuff;
    border: 4px solid brown;

}

.main {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

